.mb-3.size {
    font-size: 40px;
}

.d-flex.flex-wrap.justify-content-between.align-items-center {
    background-color: rgba(195, 195, 195, 0.455);
    padding: 15px;
}

.list-inline-item a {
    text-decoration: none;
    color: black;
}