body {
  background: #f3f2ef;
  font-family: Arial, sans-serif;
}
body {
  background: #f3f2ef;
  font-family: Arial, sans-serif;
}

.mb-4 {
  margin-bottom: 3.5rem !important;
}

.btn {
  text-align: left;
  font-size: 1rem;
}

.navbar-brand {
  font-size: 1.25rem;
}

.illustration {
  padding: 40px;
}

.profile-pic {
  object-fit: cover;
}

.row {
  min-height: 100%;
}

.col-lg-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-pic.mb-3 {
  height: 610px !important;
}

.main-heading {
  font-size: 55px;   
  font-weight: 700;
  line-height: 1.2;
}
footer {
  font-size: 14px;
}

footer h6 {
  margin-bottom: 15px;
  color: #333;
}

footer a {
  text-decoration: none;
  color: #555;
}

footer a:hover {
  color: #0a66c2; /* LinkedIn blue */
}


@media (max-width: 992px) {
  .illustration i {
    font-size: 1.5rem;
  }

  .illustration p {
    font-size: 1rem;
  }
    .main-heading {
  font-size: 45px;   
  font-weight: 700;
  line-height: 1.2;
}
}

@media (max-width: 768px) {

  .btn {
    font-size: 0.9rem;
  }
  .main-heading {
  font-size: 45px;   
  font-weight: 700;
  line-height: 1.2;
}

}

@media (max-width: 576px) {

  .btn {
    font-size: 0.8rem;
    padding: 8px;
  }
  .illustration i {
    font-size: 1.2rem;
  }

  .illustration p {
    font-size: 0.9rem;
  }
  .profile-pic.mb-3 {
  height: 410px !important;
}
  .main-heading {
  font-size: 30px;   
  font-weight: 700;
  line-height: 1.2;
}
}